version: '3.8'

services:
  node1:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ipsec_node1
    hostname: node1
    privileged: true
    networks:
      ipsec_net:
        ipv4_address: 172.20.0.10
    volumes:
      - ./node1:/etc/ipsec.d
      - ./vici_src:/app/vici_src
      - /lib/modules:/lib/modules:ro
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - NODE_NAME=node1
      - PEER_IP=172.20.0.20

  node2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ipsec_node2
    hostname: node2
    privileged: true
    networks:
      ipsec_net:
        ipv4_address: 172.20.0.20
    volumes:
      - ./node2:/etc/ipsec.d
      - ./vici_src:/app/vici_src
      - /lib/modules:/lib/modules:ro
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - NODE_NAME=node2
      - PEER_IP=172.20.0.10

networks:
  ipsec_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24